{% extends "layout.html" %} {% block content %}
<article class="h-screen flex justify-center items-center">
  <section class="flex justify-between items-center px-16">
    <div class="space-y-10">
      <h1 class="text-7xl font-bold">
        Test the limits of your gamer knowledge
      </h1>
      <div>
        <a href="/play/?category=all" class="btn btn-primary">Play now</a>
        <a
          class="btn btn-secondary"
          href="https://po-key.github.io/pypox"
          target="_blank"
          >Visit other PO-KEY products</a
        >
      </div>
    </div>
    <img src="/static/mainpagegif.gif" alt="" />
  </section>
</article>

{% endblock content %}
